.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
ios/Podfile.lock
packages
pubspec.lock
.flutter-plugins

ios/Flutter/flutter_assets

assets/app.token.txt
ios/Flutter/flutter_assets/assets/app.token.txt
